extends ./layout

block link
    -var selected = 'Security';
block content
    script(src="../../scripts/add_role.js")
    // Breadcrumb
    .breadcrumb-holder
        .container-fluid
            ul.breadcrumb
                li.breadcrumb-item
                    a(href='/security') Security Home
                li.breadcrumb-item.active Add Role
    #roleanduser.pagebox
        // Counts Section
        section.dashboard-counts
            header
                .boxdisplay.largetitle
                    | Add Role
                    a.btn.btn-main.dropdown-toggle.minwidthcombobox.pull-right(href='/security/edit_role') Edit Existing
        section
            .clear
                .boxdisplay
                    .pull-left
                        .boxdisplay-6
                            span.mr-3 Name
                            input(type='text')
                            span.ml-5.mr-3 Super Admin
                            input.js-switch(type='checkbox', checked='checked')
                    button.btn.btn-mainadd.pull-right.width100(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        i.fa.fa-plus(aria-hidden='true')
            .clear.pt-3
                .boxdisplay
                    .pull-left
                        .boxdisplay-6
                            span.mr-5 Schema
                            span.ml-5.mr-3 Activate All
                            input.js-switch(type='checkbox', checked='checked')
                .boxdisplay.form-group.clear
                    ul.trees
                        li         
                            label.tree_label
                                i.fa.fa-caret-down
                                |  Schema 1
                            ul
                                li
                                label.tree_label
                                    | Table
                                    span.ml-5.mr-3 Activate All
                                    input.js-switch(type='checkbox')
                                li                                    
                                    label.tree_label
                                        i.fa.fa-caret-down
                                        |  Table 1
                                    span.ml-5.mr-3 Activate All
                                    input.js-switch(type='checkbox' value="4")
                                li
                                    label.tree_label
                                        i.fa.fa-caret-down
                                        |  Table 2
                                    span.ml-5.mr-3 Activate All
                                    input.js-switch(type='checkbox' value="4")
                                li                                    
                                    label.tree_label
                                        i.fa.fa-caret-down
                                        |  Table 3
                                    span.ml-5.mr-3 Activate All
                                    input.js-switch(type='checkbox' value="4")    
                                li
                                    label.tree_label
                                        i.fa.fa-caret-down
                                        |  Table 4
                                    span.ml-5.mr-3 Activate All
                                    input.js-switch(type='checkbox' value="4")

                                    ul
                                        li                                            
                                            label.tree_label(title='Read')
                                                | R
                                                input.js-switch(type='checkbox', checked='checked')
                                        li                                            
                                            label.tree_label(title='Insert')
                                                | I
                                                input.js-switch(type='checkbox', checked='checked')
                                        li                                            
                                            label.tree_label(title='Update')
                                                | U
                                                input.js-switch(type='checkbox', checked='checked')
                                        li                                            
                                            label.tree_label(title='Delete')
                                                | D
                                                input.js-switch(type='checkbox', checked='checked')
                                        li
                                            input(type='checkbox', checked='checked')
                                            label.tree_label
                                                i.fa.fa-caret-down
                                                |  Attribute Restrictions
                                            span.ml-5.mr-3 Activate All
                                            input.js-switch(type='checkbox')

                                            ul
                                                li
                                                        label
                                                        | Attribute 1
                                                        span.ml-3.mr-0(title='Read') R
                                                        input.js-switch(type='checkbox', checked='checked')
                                                        span.ml-3.mr-0(title='Insert') I
                                                        input.js-switch(type='checkbox', checked='checked')
                                                        span.ml-3.mr-0(title='Update') U
                                                        input.js-switch(type='checkbox', checked='checked')
                                                        span.ml-3.mr-0(title='Delete') D
                                                        input.js-switch(type='checkbox', checked='checked')
                                                li
                                                        label
                                                        | Attribute 1
                                                        span.ml-3.mr-0(title='Read') R 
                                                        input.js-switch(type='checkbox', checked='checked')
                                                        span.ml-3.mr-0(title='Insert') I
                                                        input.js-switch(type='checkbox', checked='checked')
                                                        span.ml-3.mr-0(title='Update') U
                                                        input.js-switch(type='checkbox', checked='checked')
                                                        span.ml-3.mr-0(title='Delete') D
                                                        input.js-switch(type='checkbox', checked='checked')
                                                li
                                                        label
                                                        | Attribute 1
                                                        span.ml-3.mr-0(title='Read') R
                                                        input.js-switch(type='checkbox', checked='checked')
                                                        span.ml-3.mr-0(title='Insert') I
                                                        input.js-switch(type='checkbox', checked='checked')
                                                        span.ml-3.mr-0(title='Update') U
                                                        input.js-switch(type='checkbox', checked='checked')
                                                        span.ml-3.mr-0(title='Delete') D
                                                        input.js-switch(type='checkbox', checked='checked')
                                                li
                                                        label
                                                        | Attribute 1
                                                        span.ml-3.mr-0(title='Read') R
                                                        input.js-switch(type='checkbox', checked='checked')
                                                        span.ml-3.mr-0(title='Insert') I
                                                        input.js-switch(type='checkbox', checked='checked')
                                                        span.ml-3.mr-0(title='Update') U
                                                        input.js-switch(type='checkbox', checked='checked')
                                                        span.ml-3.mr-0(title='Delete') D
                                                        input.js-switch(type='checkbox', checked='checked')