extends ./layout

block link
    -var selected = 'Security';
block content
    // Breadcrumb
    .breadcrumb-holder
        .container-fluid
            ul.breadcrumb
                li.breadcrumb-item
                    a(href='/security') Security Home
                li.breadcrumb-item.active Add Role
    #roleanduser.pagebox
        // Counts Section
        section.dashboard-counts
            header
                .boxdisplay.largetitle
                    | Add Role
                    a.btn.btn-main.dropdown-toggle.minwidthcombobox.pull-right(href='securityeditrole.html') Edit Existing
        section
            .clear
                .boxdisplay
                    .pull-left
                        .boxdisplay-6
                            span.mr-3 Name
                            input(type='text')
                            span.ml-5.mr-3 Super Admin
                            label.switch
                                input(type='checkbox', checked='checked')
                                span.slider.round
                    button.btn.btn-mainadd.pull-right.width100(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        i.fa.fa-plus(aria-hidden='true')
            .clear.pt-3
                .boxdisplay
                    .pull-left
                        .boxdisplay-6
                            span.mr-5 Schema
                            span.ml-5.mr-3 Activate All
                            label.switch
                                input(type='checkbox', checked='checked')
                                span.slider.round
                .boxdisplay.form-group.clear
                    ul.tree
                        li
                            input#c1(type='checkbox', checked='checked')
                            label.tree_label(for='c1')
                                i.fa.fa-caret-down
                                |  Schema 1
                            ul
                                li
                                    input#c2(type='checkbox', checked='checked')
                                    label.tree_label(for='c2')
                                        | Table
                                        span.ml-5.mr-3 Activate All
                                        label.switch
                                            input(type='checkbox', checked='checked')
                                            span.slider.round
                                li
                                    input#t1(type='checkbox', checked='checked')
                                    label.tree_label(for='c3')
                                        i.fa.fa-caret-down
                                        |  Table 1
                                li
                                    input#t2(type='checkbox', checked='checked')
                                    label.tree_label(for='c3')
                                        i.fa.fa-caret-down
                                        |  Table 2
                                li
                                    input#t3(type='checkbox', checked='checked')
                                    label.tree_label(for='c3')
                                        i.fa.fa-caret-down
                                        |  Table 3
                                li
                                    input#t4(type='checkbox', checked='checked')
                                    label.tree_label(for='t4')
                                        i.fa.fa-caret-down
                                        |  Table 4
                                        span.ml-5.mr-3 Activate All
                                        label.switch
                                            input(type='checkbox', checked='checked')
                                            span.slider.round
                                    ul
                                        li
                                            input#int4(type='checkbox', checked='checked')
                                            label.tree_label(for='c2', title='Read')
                                                | R
                                                label.switch
                                                    input(type='checkbox', checked='checked')
                                                    span.slider.round
                                        li
                                            input#int4(type='checkbox', checked='checked')
                                            label.tree_label(for='c2', title='Insert')
                                                | I
                                                label.switch
                                                    input(type='checkbox', checked='checked')
                                                    span.slider.round
                                        li
                                            input#int4(type='checkbox', checked='checked')
                                            label.tree_label(for='c2', title='Update')
                                                | U
                                                label.switch
                                                    input(type='checkbox', checked='checked')
                                                    span.slider.round
                                        li
                                            input#int4(type='checkbox', checked='checked')
                                            label.tree_label(for='c2', title='Delete')
                                                | D
                                                label.switch
                                                    input(type='checkbox', checked='checked')
                                                    span.slider.round
                                        li
                                            input#att4(type='checkbox', checked='checked')
                                            label.tree_label(for='att4')
                                                i.fa.fa-caret-down
                                                |  Attribute Restrictions
                                                span.ml-5.mr-3 Activate All
                                                label.switch
                                                    input(type='checkbox', checked='checked')
                                                    span.slider.round
                                            ul
                                                li
                                                    input#int4(type='checkbox', checked='checked')
                                                    label.tree_label(for='c2')
                                                        | Attribute 1
                                                        span.ml-3.mr-0(title='Read') R
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                        span.ml-3.mr-0(title='Insert') I
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                        span.ml-3.mr-0(title='Update') U
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                        span.ml-3.mr-0(title='Delete') D
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                li
                                                    input#int4(type='checkbox', checked='checked')
                                                    label.tree_label(for='c2')
                                                        | Attribute 1
                                                        span.ml-3.mr-0(title='Read') R
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                        span.ml-3.mr-0(title='Insert') I
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                        span.ml-3.mr-0(title='Update') U
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                        span.ml-3.mr-0(title='Delete') D
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                li
                                                    input#int4(type='checkbox', checked='checked')
                                                    label.tree_label(for='c2')
                                                        | Attribute 1
                                                        span.ml-3.mr-0(title='Read') R
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                        span.ml-3.mr-0(title='Insert') I
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                        span.ml-3.mr-0(title='Update') U
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                        span.ml-3.mr-0(title='Delete') D
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                li
                                                    input#int4(type='checkbox', checked='checked')
                                                    label.tree_label(for='c2')
                                                        | Attribute 1
                                                        span.ml-3.mr-0(title='Read') R
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                        span.ml-3.mr-0(title='Insert') I
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                        span.ml-3.mr-0(title='Update') U
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round
                                                        span.ml-3.mr-0(title='Delete') D
                                                        label.switch
                                                            input(type='checkbox', checked='checked')
                                                            span.slider.round