extends ./layout

block link
    -var selected = 'Security';
block content
    script(src="../../scripts/add_user.js")
    style.
        .iaddprofile {
            display: none;
        }
        .iprofile {
            display: block;
        }
        .addprofileparent:hover .iaddprofile {
            display: block;
        }
        .addprofileparent:hover .iprofile {
            display: none;
        }
    // Breadcrumb
    .breadcrumb-holder
        .container-fluid
            ul.breadcrumb
                li.breadcrumb-item
                    a(href='/security') Security Home
                li.breadcrumb-item.active Add User
    // Counts Section
    .pagebox
        section.dashboard-counts
            header
                .boxdisplay.largetitle
                    | Security                              
            .container-fluid
                .largetitle.pull-left
                    a.btn.btn-main.dropdown-toggle.minwidthcombobox.btn-main-active(href='/security/add_user') Add User
                    &nbsp   
                    a#ad.btn.btn-main.dropdown-toggle.minwidthcombobox(href='/security/add_role') Add Role
                .wrapper.count-title.d-flex.pull-right
                    i.fa.fa-search(aria-hidden='true')
                    .name.ml-3
                        input#searchUser(type='text')
            .clear
                .boxdisplay
                    .pull-left
                        form#addUserForm(method="post", action="/security/add_user")
                            .boxdisplay-6.row
                                .col-xs-2.form-group
                                    .addprofileparent.pull-left.mr-3
                                        button.btn.btn-mainadd.iaddprofile(data-toggle='dropdown', type='button', aria-expanded='false', aria-haspopup='true')
                                            i.fa.fa-plus(aria-hidden='true')
                                        span.iprofile
                                            i.fa.fa-user-circle.usericon
                                .col-xs-2.form-group.ml-1
                                    input.form-controls(name="username", type='text', placeholder='username', required)
                                .col-xs-2.form-group.ml-1
                                    input.form-controls(name="password", type='password', placeholder='password', required)
                                .col-xs-2.form-group.ml-1
                                    select#selectRole.form-controls(name="role", placeholder='role', required)
                                .col-xs-2.ml-1
                                    label.mr-1(style='display:inline-block')
                                        input#test(name="active", type='checkbox', checked='check')
                                        | Active
                                    button.btn.btn-mainadd.width100(type='submit', aria-expanded='false', aria-haspopup='true')
                                        | Add
        .dashboard-counts.clear.pt-3
            .container-fluid
                .row
                    .col-md-12
                        table#AllUserTable.table.table-striped
                            thead
                                tr
                                    th(scope='col')
                                    th(scope='col') Username
                                    th(scope='col') Role
                                    th(scope='col') Active
                                    th(scope='col') Failed Login Attempts
                                    th(scope='col') 
                            tbody

        // Modal
        #deleteUserModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
            .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                    .modal-header
                        #exampleModalLongTitle.modal-title.text-white Are you sure?
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            i.fa.fa-times.text-red
                    .modal-body.text-white
                        p
                            | Deleting this user is a permanent action and cannot be undone.
                    .modal-footer
                        .col-md-12.p-0
                            button#DeleteUserBtn.btn.btn-maindelete.pull-right(type='button', style='min-width:150px;', data-dismiss='modal', aria-haspopup='true', aria-expanded='false')
                                | Delete
                            button.btn.btn-mainexit.pull-left(type='button', style='min-width:150px;', data-dismiss='modal', aria-haspopup='true', aria-expanded='false')
                                | Exit
        script.
            $(document).ready(function () {
                let errMsg = '#{message}';                
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-full-width",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                if(errMsg){
                    toastr.info(errMsg);
                }
            });
