extends ./layout

block link
  -var selected = 'Explore';
block content
  script(src="../../scripts/explore.js")
  // Counts Section
  .pagebox
    section.dashboard-counts
      header
        .boxdisplay.largetitle Explore
      .container-fluid
        .row
          // Count item widget
          .col-md-12
            .wrapper.count-title.d-flex
              .name
                a.btn.btn-main(href='explore/filter_search', style='float:left; margin-right:20px')
                  strong.text-uppercase.searchButton
                    i.fa.fa-search.searchButtoncicon(aria-hidden='true')
                    |  Filter Search
                a.btn.btn-main(href='explore/sql_search', style='float:left;')
                  strong.text-uppercase.searchButton
                    i.fa.fa-search.searchButtoncicon(aria-hidden='true')
                    |  SQL Search
    header
    .container-fluid
      .row
        // Count item widget
        .col-md-6
          .subheader.boxdisplay-6 Recent
          .wrapper.count-title.d-flex
            .list-group.w-100#listRecent

        // Count item widget
        .col-md-6
          .subheader.boxdisplay-6 Favorites
          .wrapper.count-title.d-flex(styles="height: 491px")
            .list-group.w-100
              each value, index in recents
                - var str = value.sql
                - var encode = Buffer.from(""+str+"").toString('base64')
                if index % 2 == 0
                  a.list-group-item.list-group-item-action.list-group-item-dark(href='/explore/sql_search/#{encode}') #{value.name}
                else
                  if value.name != undefined
                    a.list-group-item.list-group-item-action(href='/explore/sql_search/#{encode}') #{value.name}
                  else
                    a.list-group-item.list-group-item-action.list-group-item-dark(href='#') No favorite
    header
      .boxdisplay.subheader Dashboard
    // Statistics Section
    section.statistics
      .container-fluid
        .row.d-flex
          .col-lg-4
            // Income
            .card.income.text-center.dashboardplusbox
              .icon.iconplus
                i.fa.fa-plus(aria-hidden='true')
