extends ./layout

block link
  -var selected = 'Explore';
block content
  section.dashboard-counts
    header
      .boxdisplay.largetitle Explore
    .container-fluid
      .row
        // Count item widget
        .col-xl-2.col-md-4.col-6
          .wrapper.count-title.d-flex
            i.fa.fa-search(aria-hidden='true')
            .name
              a(href='explore/filter_search')
                strong.text-uppercase.searchButton  Filter Search
        // Count item widget
        .col-xl-2.col-md-4.col-6
          .wrapper.count-title.d-flex
            i.fa.fa-search(aria-hidden='true')
            .name
              a(href='explore/sql_search')
                strong.text-uppercase.searchButton  SQL Search
  header
  .container-fluid
    .row
      // Count item widget
      .col-md-6
        .subheader.boxdisplay-6 Recent
        .wrapper.count-title.d-flex
          .list-group.w-100
            a.list-group-item.list-group-item-action.list-group-item-dark(href='#') Dapibus ac facilisis in
            a.list-group-item.list-group-item-action(href='#') Dapibus ac facilisis in
            a.list-group-item.list-group-item-action.list-group-item-dark(href='#') Cras sit amet nibh libero
      // Count item widget
      .col-md-6
        .subheader.boxdisplay-6 Favorites
        .wrapper.count-title.d-flex
          .list-group.w-100
            a.list-group-item.list-group-item-action.list-group-item-dark(href='#') Dapibus ac facilisis in
            a.list-group-item.list-group-item-action(href='#') Dapibus ac facilisis in
            a.list-group-item.list-group-item-action.list-group-item-dark(href='#') Cras sit amet nibh libero
  header
    .boxdisplay.subheader Dashboard
  // Statistics Section
  section.statistics
    .container-fluid
      .row.d-flex
        .col-lg-4
          // Income
          .card.income.text-center.dashboardplusbox
            .icon.iconplus
              i.fa.fa-plus(aria-hidden='true')
        .col-lg-4
          // Income
          .card.income.text-center.dashboardplusbox
            .icon.iconplus
              i.fa.fa-plus(aria-hidden='true')
        .col-lg-4
          // Income
          .card.income.text-center.dashboardplusbox
            .icon.iconplus
              i.fa.fa-plus(aria-hidden='true')
