extends ./sidebar.jade
block content

    .page
      // navbar
      header.header
        nav.navbar
          .container-fluid
            .navbar-holder.d-flex.align-items-center.justify-content-between
              .navbar-header
                a#toggle-btn.menu-btn(href='#')
                  i.icon-bars  
                a.navbar-brand(href='index.html')
                  .brand-text.d-none.d-md-inline-block
                    span Hello_HDBlms 
              ul.nav-menu.list-unstyled.d-flex.flex-md-row.align-items-md-center
                li.nav-item.dropdown
                  a#notifications.nav-link(rel='nofollow', data-target='#', href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Nottifications
                    span.badge.badge-warning 12
                  ul.dropdown-menu(aria-labelledby='notifications')
                    li
                      a.dropdown-item(rel='nofollow', href='#')
                        .notification.d-flex.justify-content-between
                          .notification-content
                            i.fa.fa-envelope
                            | You have 6 new messages
                          .notification-time
                            small 4 minutes ago
                    li
                      a.dropdown-item(rel='nofollow', href='#')
                        .notification.d-flex.justify-content-between
                          .notification-content
                            i.fa.fa-twitter
                            | You have 2 followers
                          .notification-time
                            small 4 minutes ago
                    li
                      a.dropdown-item(rel='nofollow', href='#')
                        .notification.d-flex.justify-content-between
                          .notification-content
                            i.fa.fa-upload
                            | Server Rebooted
                          .notification-time
                            small 4 minutes ago
                    li
                      a.dropdown-item(rel='nofollow', href='#')
                        .notification.d-flex.justify-content-between
                          .notification-content
                            i.fa.fa-twitter
                            | You have 2 followers
                          .notification-time
                            small 10 minutes ago
                    li
                      a.dropdown-item.all-notifications.text-center(rel='nofollow', href='#')
                        strong
                          i.fa.fa-bell
                          | view all notifications
                li.nav-item
                  a.nav-link.logout(href='login.html')
                    | Logout
                    i.fa.fa-sign-out
      // Breadcrumb
      include ./components/breadcrumb.jade
      // Counts Section
      section.dashboard-counts
        header
          .boxdisplay.largetitle
            | Filter Search
            button.btn.btn-main.dropdown-toggle.minwidthcombobox.pull-right(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') SQL Search
        .container-fluid
          .row
            // Count item widget
            .col-md-12
              .btn-group(style='float:left')
                button.btn.dropdown-toggle.minwidthcombobox(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Select Schema
                .dropdown-menu
                  a.dropdown-item(href='#') Schema 1
                  a.dropdown-item(href='#') Schema 2
                  a.dropdown-item(href='#') Schema 3
              .btn-group(style='float:left; margin-left:10px;')
                button.btn.dropdown-toggle.minwidthcombobox(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Select Table
                .dropdown-menu
                  a.dropdown-item(href='#') Table 1
                  a.dropdown-item(href='#') Table 2
                  a.dropdown-item(href='#') Table 3
        .container-fluid.pt-5
          .row.filterrow
            // Count item widget
            .col-md-12
              .btn-group.minfiltertitle(style='float:left')
                .boxdisplay-6 FILTER
              .btn-group(style='float:left; margin-left:10px;')
                button.btn.dropdown-toggle.minwidthcombobox(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Column 1
                .dropdown-menu
                  a.dropdown-item(href='#') Column 1
                  a.dropdown-item(href='#') Column 2
                  a.dropdown-item(href='#') Column 3
              .btn-group(style='float:left; margin-left:10px;')
                button.btn.dropdown-toggle.minwidthcombobox(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Operation
                .dropdown-menu
                  a.dropdown-item(href='#') =
                  a.dropdown-item(href='#')
                    | <
                  a.dropdown-item(href='#')
              input.form-control.minwidthtextbox(type='email', placeholder='Enter Value', style='float:left; margin-left:10px; max-width:200px; margin-right:5px;')
              .removeicon
                i.fa.fa-times.text-red
          .row.filterrow
            // Count item widget
            .col-md-12
              .btn-group.minfiltertitle(style='float:left')
                .boxdisplay-6 AND
              .btn-group(style='float:left; margin-left:10px;')
                button.btn.dropdown-toggle.minwidthcombobox(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Column 1
                .dropdown-menu
                  a.dropdown-item(href='#') Column 1
                  a.dropdown-item(href='#') Column 2
                  a.dropdown-item(href='#') Column 3
              .btn-group(style='float:left; margin-left:10px;')
                button.btn.dropdown-toggle.minwidthcombobox(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Operation
                .dropdown-menu
                  a.dropdown-item(href='#') =
                  a.dropdown-item(href='#')
                    | <
                  a.dropdown-item(href='#')
              input.form-control.minwidthtextbox(type='email', placeholder='Enter Value', style='float:left; margin-left:10px; max-width:200px; margin-right:5px;')
              .removeicon
                i.fa.fa-times.text-red
          .row.filterrow
            // Count item widget
            .col-md-12
              button.btn.btn-mainadd.pull-left(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.fa.fa-plus(aria-hidden='true')
          .row.filterrow
            // Count item widget
            .col-md-12
              button.btn.btn-main.minwidthcombobox.pull-right(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Reset
              button.btn.btn-main.minwidthcombobox.pull-right(type='button', style='margin-right:10px;', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Search
          hr
      header
        .boxdisplay.largetitle
          | Results
          .pull-right
            i.fa.fa-sign-out
          .pull-right
            i.fa.fa-save(style='margin-right:10px;')
          .pull-right
            i.fa.fa-refresh(style='margin-right:10px;')
      .container-fluid
        .row
          .col-md-12
            table.table.table-striped
              thead
                tr
                  th(scope='col') Column 1
                  th(scope='col') Column 2
                  th(scope='col') Column 3
                  th(scope='col') Column 4
              tbody
                tr
                  th(scope='row') -
                  td -
                  td -
                  td -
                tr
                  th(scope='row') -
                  td -
                  td -
                  td -
                tr
                  th(scope='row') -
                  td -
                  td -
                  td -
            ul.pagination.pull-left
              li.page-item.disabled
                a.showentry(href='#') Show
              li.page-item
                .input-group.spinner
                  input.form-control(type='text', value='42')
                  .input-group-btn-vertical
                    button.btn.btn-default(type='button')
                      i.fa.fa-caret-up
                    button.btn.btn-default(type='button')
                      i.fa.fa-caret-down
              li.page-item
                a.showentry(href='#') Entries
            ul.pagination.pull-right
              li.page-item.disabled
                a.page-link(href='#') Previous
              li.page-item
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') Next
