extends ./layout

block link
  -var selected = 'Explore';
block content
  input#schemas(type="hidden", name="schemas" value="#{schemas}")
  script(src="../../scripts/filter_search.js")
  // Breadcrumb
  .breadcrumb-holder
    .container-fluid
      ul.breadcrumb
        li.breadcrumb-item
          a(href='/explore') Explore Home
        li.breadcrumb-item.active Filter Search 
  // Counts Section
  .pagebox
    section.dashboard-counts
      header
        .boxdisplay.largetitle
          | Filter Search
          a.btn.btn-main.dropdown-toggle.minwidthcombobox.pull-right(href='/explore/sql_search') SQL Search
      .container-fluid
        .row
          // Count item widget
          .col-md-12
            .btn-group(style='float:left')
              select#selectSchema(name="selectedSchema")
                option.dropdown-item(value="") select Schema
            .btn-group(style='float:left; margin-left:10px;')
              select#selectTable(name="selectedTable")
                option.dropdown-item(value="") Select Table

      .container-fluid.pt-5
        #firstFilterColumn
          .row.filterrow
            // Count item widget
            .col-md-12
                .btn-group.minfiltertitle(style='float:left')
                  .boxdisplay-6 FILTER
                .btn-group(style='float:left; margin-left:10px;')
                  select#selectAttribute(name="selectedAttribute")
                    option(value="") Select Column
                .btn-group(style='float:left; margin-left:10px;')
                  select#selectAttribute(name="selectedAttribute")
                    option(value="=") =
                    option(value="<") 
                      | <
                    option(value=">") 
                      | >
                    option(value="LIKE") LIKE
                    option(value="IN") IN
                div
                  input.form-control.minwidthtextbox(type='text', placeholder='Enter Value', style='float:left; margin-left:10px; max-width:200px; margin-right:5px;')
                .removeicon
                  i.fa.fa-times.text-red
        #otherFilterColumn
  
        .row.filterrow
          // Count item widget
          .col-md-12
            button#AddFilterColumn.btn.btn-mainadd.pull-left(type='button', aria-haspopup='true', aria-expanded='false')
              i.fa.fa-plus(aria-hidden='true')
        .row.filterrow
          // Count item widget
          .col-md-12
            button.btn.btn-main.minwidthcombobox.pull-right(type='button', aria-haspopup='true', aria-expanded='false') Reset
            button#searchSqlBtn.btn.btn-main.minwidthcombobox.pull-right(type='button', style='margin-right:10px;', aria-haspopup='true', aria-expanded='false') Search
        hr
    header
      .boxdisplay.largetitle
        | Results
        .pull-right
          i.fa.fa-sign-out
        .pull-right
          i.fa.fa-save(style='margin-right:10px;')
        .pull-right
          i.fa.fa-refresh(style='margin-right:10px;')
    .container-fluid
      .row
        .col-md-12
          table#resultTable.table.table-striped
