extends ./layout

block link
  -var selected = 'Health';
block content
    // Counts Section
    .pagebox
        section.dashboard-counts
            header
                .boxdisplay
                    .largetitle.pull-left Health (Coming Soon!)
        section
            .clear.p-3
                .row.text-center.m-3
                    .col-md-4
                        .activenodebox
                            .midtitle ACTIVE NODES
                            .numberofnode  5
                    .col-md-4
                        .activenodebox
                            .midtitle Disk Utilization
                            .numberofnode  3
                    .col-md-4
                        .activenodebox
                            .midtitle Recent Errors
                            div
                                select.w-100(name='favFruit[]', size='4', multiple='')
                                    option.puple-text(value='apple') Node Name/error 1
                                    option.puple-text(value='banana') Node Name/error 2
                                    option.puple-text(value='plum') Node Name/error 3
                                    option.puple-text(value='pomegranate') Node Name/error 4
                                    option.puple-text(value='strawberry') Node Name/error 5
                                    option.puple-text(value='watermelon') Node Name/error 6
        .container-fluid
            .row
                .col-md-12
                    table.table.table-striped
                        thead
                            tr
                                th(scope='col')
                                    | Name  
                                    i.fa.fa-search(aria-hidden='true')
                                th(scope='col')
                                    | Host  
                                    i.fa.fa-search(aria-hidden='true')
                                th(scope='col')
                                    | Port  
                                    i.fa.fa-search(aria-hidden='true')
                                th(scope='col')
                                    | Status  
                                    i.fa.fa-search(aria-hidden='true')
                        tbody
                            tr
                                th(scope='row') -
                                td -
                                td -
                                td -
                            tr
                                th(scope='row') -
                                td -
                                td -
                                td -
                            tr
                                th(scope='row') -
                                td -
                                td -
                                td -
                    #usersTable_length.dataTables_length.pull-left
                        label
                            | Show
                            select.form-control.input-sm.selectinput(name='usersTable_length', aria-controls='usersTable')
                                option(value='10') 10
                                option(value='50') 50
                                option(value='100') 100
                                option(value='-1') All
                            |  entries
                    #usersTable_paginate.dataTables_paginate.paging_simple_numbers.pull-right
                        ul.pagination
                            li#usersTable_previous.paginate_button.previous.disabled
                                a(data-dt-idx='0', href='#', aria-controls='usersTable', tabindex='0') Previous
                            li.paginate_button.active
                                a(data-dt-idx='1', href='#', aria-controls='usersTable', tabindex='0') 1
                            li#usersTable_next.paginate_button.next.disabled
                                a(data-dt-idx='2', href='#', aria-controls='usersTable', tabindex='0') Next