extends ./layout
block link 
  -var selected = 'Main';
block content
    .clear.pt-5
      .row.text-center.m-3
        .col-md-6
          a.mainmenubox(href='/explore')
            .insidemainmenubox
              i.fa.fa-compass(aria-hidden='true')
              .midtitle2
                | Explore
        .col-md-6
          a.mainmenubox(href='/schema')
            .insidemainmenubox
              i.fa.fa-share-alt(aria-hidden='true')
              .midtitle2
                | Schema
        .col-md-6
          a.mainmenubox(href='/security')
            .insidemainmenubox
              i.fa.fa-users(aria-hidden='true')
              .midtitle2
                | Security
        .col-md-6
          a.mainmenubox(href='/health')
            .insidemainmenubox
              i.fa.fa-line-chart(aria-hidden='true')
              .midtitle2
                | Health
        .col-md-6
          a.mainmenubox(href='/logs')
            .insidemainmenubox
              i.fa.fa-cube(aria-hidden='true')
              .midtitle2
                | Logs
        .col-md-6
          a.mainmenubox(href='/help')
            .insidemainmenubox
              i.fa.fa-question(aria-hidden='true')
              .midtitle2
                | Help