extends ./layout

block link
  -var selected = 'Logs';
block content    
    // Breadcrumb
    .breadcrumb-holder
        .container-fluid
            ul.breadcrumb
                li.breadcrumb-item
                    a(href='/logs') Log Home
                li.breadcrumb-item.active Log individual
    // Counts Section
    .pagebox
        section.dashboard-counts
            header
                .boxdisplay
                    .pull-left
                        .midtitle.pull-left(style='margin-top:-8px') level: #{log.level}
                        .ml-5.pull-left
                            | Type: #{log.type}
                        .ml-5.pull-left
                            | #{log.timestamp}
                        .pull-right
                    .wrapper.text-white.midtitle.pull-right
                        i.fa.fa-download
                        //- i.fa.fa-trash.ml-2(data-toggle='modal', data-target='#deleteLogModal')
            // Modal
            #deleteLogModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
                .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                        .modal-header
                            #exampleModalLongTitle.modal-title.text-white Are you sure?
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                i.fa.fa-times.text-red
                        .modal-body.text-white
                            p
                                | Deleting this log is a permanent action
                                | and cannot be undone.
                        .modal-footer
                            .col-md-12.p-0
                                button.btn.btn-maindelete.pull-right(type='button', style='min-width:150px;', data-toggle='dropdown', data-dismiss='modal', aria-haspopup='true', aria-expanded='false')
                                    | Delete
                                button.btn.btn-mainexit.pull-left(type='button', style='min-width:150px;', data-toggle='dropdown', data-dismiss='modal', aria-haspopup='true', aria-expanded='false')
                                    | Exit
        header
            .boxdisplay.subheader Message
        .dashboard-counts.clear
            .container-fluid
                .row.p-3
                    .col-md-12.messagebox.p-3
                        p
                            | #{log.message}