extends ./layout

block link
  -var selected = 'Logs';
block content
  script(src="../../../scripts/logs_advance.js")
  // Breadcrumb
  .breadcrumb-holder
    .container-fluid
      ul.breadcrumb
        li.breadcrumb-item
          a(href='/logs') Log Home
        li.breadcrumb-item.active Log Advanced Search
  // Counts Section
  .pagebox
    // Counts Section
    section.dashboard-counts
      header
        .boxdisplay
          .midtitle.pull-left
            | Advanced Search
      .clear.boxdisplay.row
        // Count item widget
        .col-md-12
          .btn-group.clear.mt-2(style='float:left;')
            span.minwidth150.mr-2.text-white Search
            input#wildCardSearch.minwidth350.pl-1.form-controls(type='text', placeholder='Wildcard Search')
            .btn-group.ml-2.w-250(style='float:left; min-width: 350px')
              .container
                .input-group
                  #reportrange.pull-right(name='daterange', style='background: #fff; cursor: pointer; padding: 4px 10px; border: 1px solid #ccc; width: 100%; border-radius: 4px;')                    
                    i.fa.fa-calendar.mr-1(style="color: black;")                    
                    span#showRangeDate(style="color: #555; ")
                    b.caret
          .btn-group.clear.mt-2(style='float:left;')
            span.minwidth150.mr-2.text-white Log Level
            input#logsLevel.minwidth150.pl-1.mr-5.form-controls(type='text', placeholder='Value')
            span.mr-2.text-white Order
            .btn-group.mr-2(style='float:left')
              select#LogsOrder.minwidth150.pl-1.mr-5.form-controls(name="order")
                option(value="asc") Ascending
                option(value="desc")  Descending
            span.mr-2.text-white Limit Results
            input#limitLogs.minwidth150.pl-1.form-controls(type='text', placeholder='Value', value="500")
      .row.container-fluid.filterrow.mt-3
        // Count item widget
        .col-md-12
          button#resetLogsSearch.btn.btn-main.minwidthcombobox.pull-right(type='button', aria-haspopup='true', aria-expanded='false') Reset
          button#searchLogs.btn.btn-main.minwidthcombobox.pull-right(type='button', style='margin-right:10px;', aria-expanded='false', role='button', aria-controls='collapseResult') Search
    #collapseResult.collapse
      header
        hr
        .boxdisplay.subheader.midtitle
          | Results
      .dashboard-counts.clear.pt-3
        .container-fluid
          .row
            .col-md-12
              table#logsAdvance.table.table-striped