extends ./layout

block link
  -var selected = 'Logs';
block content    
    // Counts Section
    .pagebox    
        section.dashboard-counts
            script(src="scripts/logs.js")
            header
                .boxdisplay
                    .midtitle.pull-left
                        //- .btn-group.mr-2(style='float:left')
                        //-     button.btn.dropdown-toggle.minwidthcombobox.minwidth200(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Node name 1
                        //-     .dropdown-menu
                        //-         a.dropdown-item(href='#') Node name 1
                        //-         a.dropdown-item(href='#') Node name 2
                        //-         a.dropdown-item(href='#') Node name 3
                        | Logs
                        i.fa.fa-download.ml-2
                    .wrapper.count-title.d-flex.pull-right
                        i.fa.fa-search(aria-hidden='true')
                        .name.ml-3
                            input#searchlogs(type='text')
                    .clear.pull-right
                        a.text-white(href='/logs/search') Advance Search
        .dashboard-counts.clear.pt-3
            .container-fluid
                .row
                    .col-md-12
                        table#logsTable.table.table-striped
                            thead
                                tr
                                    th(scope='col') Name
                                    th(scope='col') Type
                                    th(scope='col') Message Preview
                                    th(scope='col') Timestamp
                                    th(scope='col')
                            tbody
                                each log in JSON.parse(logs)
                                    - var encode = Buffer.from(JSON.stringify(log)).toString('base64')
                                    tr.trclick(onclick="window.location='/logs/individual/#{encode}';")
                                        td Log 
                                        td #{log.type}
                                        td #{log.message}
                                        td #{log.timestamp}
                                        td.midtitle2
                                            //- i.fa.fa-download
                                            //- i.fa.fa-trash.ml-2
