extends ./layout

block link
  -var selected = 'Security';
block content
  script(src="scripts/security.js")
  section.dashboard-counts
    header
      .boxdisplay.largetitle
        | Security Hi 
        = user.username
        a.btn.btn-main.dropdown-toggle.minwidthcombobox.pull-right(href='sqlsearchchart.html') SQL Search
    .container-fluid
       input#users(type="hidden" value="#{users}")
       input#user(type="hidden" value="#{user}")
      .largetitle.pull-left
        a.btn.btn-main.dropdown-toggle.minwidthcombobox(href='#') Add Role
        a.btn.btn-main.dropdown-toggle.minwidthcombobox(href='#') Add User
      //- .wrapper.count-title.d-flex.pull-right
      //-   i.fa.fa-search(aria-hidden='true')
      //-   .name.ml-3
      //-     input(type='text')
  .dashboard-counts.clear.pt-3
    .container-fluid
      .row
        .col-md-12
            #usersTable_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
                table#usersTable.table.table-striped.table-hover.dataTable.no-footer(role='grid', aria-describedby='usersTable_info')
                    thead
                        tr(role='row')
                            th.sorting(tabindex='0', aria-controls='usersTable', rowspan='1', colspan='1', aria-label=': activate to sort column ascending', style='width: 70px;')
                            th.sorting(tabindex='0', aria-controls='usersTable', rowspan='1', colspan='1', aria-sort='ascending', aria-label='username: activate to sort column descending', style='width: 102px;') username
                            th.sorting(tabindex='0', aria-controls='usersTable', rowspan='1', colspan='1', aria-label='active: activate to sort column ascending', style='width: 170px;') active
                            th.sorting_desc(tabindex='0', aria-controls='usersTable', rowspan='1', colspan='1', aria-label='role: activate to sort column ascending', style='width: 70px;') role
                    tbody#users_body
