extends ./layout.jade
block sidebar

    // Side Navbar
    nav.side-navbar
      .side-navbar-wrapper
        // Sidebar Header
        .sidenav-header.d-flex.align-items-left.justify-content-left
          // User Info
          .sidenav-header-inner.text-left
            h2.h5
              img(src='img/harper.png', width='27', height='27')
              | HarperDB
          // Small Brand information, appears on minimized sidebar
          .sidenav-header-logo
            a.brand-small.text-center(href='index.html')
              img(src='img/harper.png', width='37', height='37')
        // Sidebar Navigation Menus
        .main-menu
          ul#side-main-menu.side-menu.list-unstyled
            li
              a(href='index.html')
                i.icon-home
                | Main
            li.active
              a(href='forms.html')
                i.icon-form
                | Explore
            li
              a(href='charts.html')
                i.fa.fa-bar-chart
                | Schema
            li
              a(href='tables.html')
                i.icon-grid
                | Security
            li
              a(href='tables.html')
                i.icon-grid
                | Health
            li
              a(href='tables.html')
                i.icon-grid
                | Logs
            li
              a(href='tables.html')
                i.icon-grid
                | Help
