extends ./layout


block content
    script(src="scripts/user_detail.js")
    style.
        .tile{
            padding-top:25px;
            padding-bottom:25px;

        }
    // Breadcrumb
    .breadcrumb-holder
        .container-fluid
            ul.breadcrumb
                li.breadcrumb-item
                    a(href='/security') Security
                li.breadcrumb-item.active User Detail

    // Main content
    section.content
        .container-fluid
            input#detail_user(type="hidden" value="#{json_detail_user}")
            .row
                .col-md-4
                    .media
                        i.pe.pe-7s-user.c-accent.fa-3x
                        h2.m-t-xs.m-b-none
                            | #{detail_user.username}
                        .checkbox.checkbox-success

                        small
                           |#{detail_user.role.role}
                .col-md-3#superAdmin(style="margin-top:6%")


                .col-md-1-offset-4
                    button.btn.btn-default(type='button' style="float:right;")
                        i.fa.fa-paste
                        |  Edit
            hr
            br
            br
            p
            #perms(style="display:none;")
                .row
                    h4#perms_label
                        | Permissions
                .row
                    .tabs-container
                        .tabs-left
                            ul.nav.nav-tabs#tab_nav
                                li.active
                                    a(data-toggle='tab', href='#tab-6', aria-expanded='true')  dev
                                li
                                    a(data-toggle='tab', href='#tab-7', aria-expanded='false') system
                            .tab-content#tab_content
                                #tab-6.tab-pane.active
                                    .panel-body
                                        .table-responsive
                                            table.table.table-hover.table-striped
                                                thead
                                                    tr
                                                        th table
                                                        th read
                                                        th insert
                                                        th update
                                                        th delete
                                                tbody
                                                    tr
                                                        td Dog
                                                        td
                                                            .checkbox.checkbox-success
                                                                input#checkbox3.styled(type='checkbox', checked='' disabled)
                                                                label(for='checkbox3')
                                                        td
                                                            .checkbox.checkbox-success
                                                                input#checkbox4.styled(type='checkbox', checked='')
                                                                label(for='checkbox4')
                                                        td
                                                            .checkbox.checkbox-success
                                                                input#checkbox5.styled(type='checkbox', checked='')
                                                                label(for='checkbox5')
                                                        td
                                                            .checkbox.checkbox-success
                                                                input#checkbox6.styled(type='checkbox', )
                                                                label(for='checkbox6')
                                                    tr
                                                        td Person
                                                        td
                                                            .checkbox.checkbox-success
                                                                input#checkbox3.styled(type='checkbox', checked='')
                                                                label(for='checkbox3')
                                                        td
                                                            .checkbox.checkbox-success
                                                                input#checkbox4.styled(type='checkbox', checked='')
                                                                label(for='checkbox4')
                                                        td
                                                            .checkbox.checkbox-success
                                                                input#checkbox5.styled(type='checkbox', )
                                                                label(for='checkbox5')
                                                        td
                                                            .checkbox.checkbox-success
                                                                input#checkbox6.styled(type='checkbox', )
                                                                label(for='checkbox6')


                                #tab-7.tab-pane
                                    .panel-body
                                        strong.c-white Donec quam felis
                                        p
                                            | Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                                            | and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                                        p
                                            | I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                                            | sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
