// Breadcrumb
.breadcrumb-holder
    .container-fluid
        ul.breadcrumb
            li.breadcrumb-item
                a(href='/explore') Explore Home
            li.breadcrumb-item.active Filter Search 